extends layout

block content
    h1= title

    ul
      each genre in genre_list
        li.nostyle
          a.nodeco(href=genre.url) #{genre.name}
      else
        li.nostyle There are no genres.

    br
    hr
    br
    p
      a.abutton(href='/catalog/genre/create') Create new genre
      
      
