doctype html
html(lang="en")
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")    
    link(rel='stylesheet', href='/stylesheets/style.css')  
  body
    div.container
      header
        a.logo(href='/catalog') Local Library
        input(type='checkbox' id='nav-toggle' class='nav-toggle')
        nav
          ul
            li
              a(href='/catalog') Home
            li
              a(href='/catalog/books') Books             
            li 
              a(href='/catalog/authors') Authors
            li 
              a(href='/catalog/genres') Genres
            li 
              a(href='/catalog/bookinstances') Book-instances
        label(for='nav-toggle' class='nav-toggle-label')
          span 
    div.content
      block content